html,
body{
  background-color: #61a8a8;
  text-align: center;
  font-family: "Courier New", monospace;
}
.Titulo{
  background-color: teal;
  border-style: solid;
  border-color: #16635d
}
.text{
  background-color: #a3bdb9;
}
.Restaurantes{
  background-color: #a3bdb9;
  text-align: left;
}
.Eventos{
  background-color: #a3bdb9;
  text-align: left;
}
